<div>

    <h3>Form two</h3>


    <ist-form name="parent-form">
        <ist-form-text formName="text-input1"></ist-form-text>
        <ist-form-text formName="text-input2" initialValue="initial value" required="true" maxLength="15">
        </ist-form-text>
        <ist-form-text formName="text-input3" initialValue="hej"  required="true"></ist-form-text>
        <ist-form-text formName="text-input4" maxLength="5"></ist-form-text>
        <ist-form-text formName="text-input5" biggerThan="text-input6"></ist-form-text>
        <ist-form-text formName="text-input6" ></ist-form-text>
    </ist-form>


</div>